<h4>Quản lý Niên khóa</h4>
<form method="post" asp-action="ThemNienKhoa">
    <div class="row mb-2">
        <div class="col-md-3"><input name="TenNienKhoa" class="form-control" placeholder="VD: 2022-2026" required /></div>
        <div class="col-md-3"><input name="NamBatDau" type="number" class="form-control" placeholder="Năm bắt đầu" required /></div>
        <div class="col-md-3"><input name="NamKetThuc" type="number" class="form-control" placeholder="Năm kết thúc" required /></div>
        <div class="col-md-3"><button class="btn btn-primary w-100">Thêm Niên khóa</button></div>
    </div>
</form>
<table class="table table-bordered">
    <thead class="table-warning"><tr><th>ID</th><th>Niên khóa</th><th>Bắt đầu</th><th>Kết thúc</th></tr></thead>
    <tbody>
        @foreach (var nk in ViewBag.NienKhoa)
        {
            <tr>
                <td>@nk.NienKhoaID</td>
                <td>@nk.TenNienKhoa</td>
                <td>@nk.NamBatDau</td>
                <td>@nk.NamKetThuc</td>
            </tr>
        }
    </tbody>
</table>
