<h4>Quản lý Vai trò</h4>
<form method="post" asp-action="ThemVaiTro">
    <div class="row mb-2">
        <div class="col-md-4"><input name="TenVaiTro" class="form-control" placeholder="VD: SinhVien, GVCN" required /></div>
        <div class="col-md-6"><input name="MoTa" class="form-control" placeholder="Mô tả" /></div>
        <div class="col-md-2"><button class="btn btn-primary w-100">Thêm</button></div>
    </div>
</form>
<table class="table table-bordered">
    <thead class="table-warning"><tr><th>ID</th><th>Vai trò</th><th>Mô tả</th></tr></thead>
    <tbody>
        @foreach (var v in ViewBag.VaiTro)
        {
            <tr><td>@v.VaiTroID</td><td>@v.TenVaiTro</td><td>@v.MoTa</td></tr>
        }
    </tbody>
</table>
